#skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: auto;
    
   
   
}

#skills .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    text-align: justify;

    
}

.text h1 {
    font-size: 5vw;
    margin-bottom: 3vw;
    
}

.text p {
    margin-bottom: 10vw;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    width:80%;
    height: auto;


}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10%;
  
    
   
}



.cardss  {
    display: flex;
    margin-bottom: 3vw;
    background-color: rgb(43, 40, 40);
    line-height: 1.5;
    width: 80%;
    border-radius: 20px;
    height: auto;
    
   
  
   
 
    
   

}

.cardss img {
    padding: 20px;
    padding-right: 15px;
    height: 100px;
    
    
   

}

.cardss div {
    
    left: 9vw;
    padding: 20px;
    padding-left: 0px;
}





