#works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.pics img {
    height: 40rem;
    margin: 1rem;
    object-fit: cover;

    
}

.pics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
}

#works h1 {
    font-style: oblique;
    font-size: 8vw;
    padding: 3rem;

}
#works p {
    padding: 2rem;
    max-width: 80%;
    text-align: center;

   
    
}

.sM {
    margin : 3rem 0;
    padding:15px;
    width: 15vw;
    border-radius: 50px;
    font-weight: bold  ;
}

@media screen and (max-width:560px) {
    .pics img {
        height:48vw ;
    }
}
